<link href='/css/core/heading.css' rel='stylesheet'>
<link href='/css/partials/section-banner.css' rel='stylesheet'>

<header class='section-banner' role='toolbar'>
	<nav class='banner-breadcrumbs'>
		<a class='banner-breadcrumb' href='/'>
			<i class="material-icons">menu</i>
		</a>
		{{#if href}}
			<i class='material-icons breadcrumb-icon'>keyboard_arrow_right</i>
			<a class='banner-breadcrumb' href='{{ href }}'>
				<h1 class='title banner-header'>{{ title }}</h1>
			</a>
		{{else}}
			{{#bannerLoop text}}
				<i class='material-icons breadcrumb-icon'>keyboard_arrow_right</i>

				<a class='banner-breadcrumb' href='{{ href }}'>
					<h1 class='title banner-header'>{{ title }}</h1>
				</a>
			{{/each}}
		{{/if}}
	</nav>

	{{!--
		If passed an inline partial named "content", it will be rended after the
		breadcrumb list.

		Example:
		{{#> section-banner}}
			{{#*inline "content"}}
				My Content
			{{/inline}}
		{{/section-banner}}
	--}}
	{{#> content}}{{/content}}
</header>